@import '../../theme.css';

.as-route-contact {

  p {
    width: 60%;
    margin: 0 auto;
  }

  & .header {
    text-align: center;
  }

  & form {
    margin: 20px auto;
    width: 500px;
  }

  & label {
    display: block;
  }

  & input {
    width: 70%;
    margin: 0 auto 20px;
    padding: 5px;
  }

  & textarea {
    width: 100%;
    margin: 0 auto 20px;
    padding: 5px;
    height: 200px;
  }

}