.host {
  flex-grow: 1;
}

.as-navigation {
  flex-grow: 1;

  & .as-navigation__list {
    display: flex;
    align-items: center;
    margin: 0;

    @media(max-width: 768px) {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  & .as-navigation__list-item {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  & .as-navigation__link {
    color: var(--color-dark);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: color 0.25s;


    &.as-navigation__link::after {
      content: '';
      display: block;
      width: 0;
      height: 1.5px;
      background: var(--color-dark);
      transition: width .3s;
    }

    &.as-navigation__link:hover::after {
      width: 100%;
    }

    &.active-route,
    &:hover,
    &:active,
    &:focus {
      color: var(--color-tertiary);
      text-decoration: none;
    }
  }
}
