.heading {
  font-size: 1rem;
  line-height: 1rem;
}

.list {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding-left: 0px;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.listItem {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/* stylelint-disable-next-line a11y/media-prefers-reduced-motion */
.link {
  color: var(--color-dark);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: color 0.25s;

  /* stylelint-disable-next-line a11y/media-prefers-reduced-motion */
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1.5px;
    background: var(--color-dark);
    transition: width 0.3s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }

  &.active-route,
  &:hover,
  &:active,
  &:focus {
    color: var(--color-tertiary);
    text-decoration: none;
  }
}
