@import "../../theme.css";

.as-header {
  background-color: var(--color-background-opacity-95);
  padding: 1rem 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);

  & #as-inner-header {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: auto;

    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  & .as-header__logo {
    flex-grow: 1;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
  }

  & a {
    color: var(--color-dark);
  }
}
