@import '../../theme.css';

:host {
  .copyright-text {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: var(--color-dark);
    text-transform: uppercase;
    font-family: var(--font-family-primary);
  }
  section > h2,
  section > article > h3 {
    display: none;
  }
  section > article {
    margin: 0 auto;
    padding: 0;
  }
  .col-xs-12:nth-of-type(1) {
    float: none;
  }
  article:nth-of-type(1) {
    margin: 1.5% 0% 0% 0%;
    padding: 0;
    ul.socials {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 0;
      li {
        list-style-type: none;
        padding: 0% 0.75% 0% 0%;
        strong {
          display: none;
        }
        a {
          i {
            font-size: 3rem;
            color: var(--color-dark);
          }
          i:hover {
            color: var(--color-tertiary);
          }
        }

        @media screen and (max-width: 900px) {
          a {
            i {
              font-size: 2.5rem !important;
            }
          }
        }

        @media screen and (max-width: 900px) and (min-width: 700px) {
          a {
            i {
              font-size: 2rem !important;
            }
          }
        }
        @media screen and (max-width: 700px) {
          a {
            i {
              font-size: 1.85rem !important;
            }
          }
        }
      }
    }
  }
  article:nth-of-type(2) {
    margin: 1% 0% 5% 0%;
  }
}
