@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  background-image: url("/assets/view-banner.webp");
  background-size: 100% 377px;
  background-color: var(--color-secondary);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2rem;
  letter-spacing: 4px;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h2,
h3,
h4 {
  letter-spacing: 2px;
}

main {
  color: var(--color-dark);
  font-family: var(--font-family-primary);
  font-size: 0.85rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: var(--color-secondary);
  /* background-color: transparentize(var(--color-secondary) 0.0375); */
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
  min-height: 1000px;
  padding: 1rem;

  & a {
    color: var(--color-tertiary);
  }

  & .as-link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-dark);
  }

  & .router-outlet {
    margin-top: 20px;
    display: block;
  }
}

.row {
  display: flex;
}