@import '../../theme.css';
@import '../../styles.css';

.as-route-albums {

  color: var(--color-dark);

}

.as-routes-album-details {

  & .download-url {
    padding-left: 20px;
  }

  & img {
    max-width: var(--img-width-mobile);
  }

}